*{margin: 0;padding: 0;}


#wrapper{
    width: 100vw;
    height: 100vh;
    padding: 10px;
    position: fixed;
    box-sizing: border-box;
}

#contact-section{
    width: 100%;
    height:100%;
    background-color: #E5EFF8;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact{
    width: 65%;
    height: 500px;
    display: flex;
    background-color: #F8F8F8;
    padding: 20px;
    box-shadow: 0 0 15px 0 rgba(47, 48, 50, 0.15);
    justify-content: space-between;
    text-align: center;
}

.form-section{
    flex: 0.5;
}

.form-section form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.form-section form p{
    
}

.svg-section{
    flex: 0.4;
}

.svg-section img{
    height: 100%;
    width: 100%;
}

input{
    height: 40px;
    border-radius: 5px;
    border: solid 2px #f5bbbf;
    background-color: #F8F8F8;
}

input:focus{
    outline:none;
}

textarea{
    height: 160px;
    border-radius: 5px;
    border: solid 2px #f5bbbf;
    background-color: #F8F8F8;
    resize: none;
}


/* --------------- MEDIA QUERY -------------- */

@media only screen and (max-width: 992px) {
    #contact{
        height:450px;
    }
    .svg-section{
        display:none;
    }
    .form-section{
        flex: 1;
    }
}

